/* MultiThreadedTask.css */

.multithread-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  
  .stop{
    background-color: red;
  }